h1{
    color: rgb(128, 240, 0);
    font-size: 40px;
    text-align: left;
}
.jumbotron {
    background-color: #725228;
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.jumbotron img {
    width: 300px;
    margin: 30px;
    }
    .jumbotron h3, p{
    color: white;
}
.main-container {
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.package-container {
    margin: 20px;
    padding: 16px;
    border: 3px solid black;
    border-radius: 16px;
    box-shadow: 5px 5px 10px gray;
}
.package-container p{
    color:black
}
.package-container img {
    width: 300px;
}
button {
    background-color: #5fc8f5;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}
.left{
    margin-left: 60%;
}
body {
    margin: 0;
}
table,th,td,tr,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
th{
    background-color:darkseagreen;
    color: white;
}    
.table {
    display: flex;
    justify-content: center;
    text-align: center;  
}
.table img {
    width: 200px;
 }
header {
 background-color: #2EC1AC;
 color: white;
 position: fixed;
 top: 0px;
 left: 0px;
 right: 0px;
 height: 50px;
 display: flex;
}
.header-title{
 text-align: left;
 color: white;
 margin: 14px;
 font-size: 18px;
}
footer {
 color: white;
 text-align: center;
 background-color: #2EC1AC;
 padding: 10px;
 margin-top: 50px;
}
a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
}
button:hover {
 cursor: pointer;
 background-color: rgb(41, 159, 120);
}
.formcontainer h1{
 text-align: center;
}
.formcontainer img {
 width: 300px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
form{
 text-align: left;
 width: 50%;
 margin-left: auto;
 margin-right: auto;
}
input{
 width: 100%;
 display: inline-block;
 margin-bottom: 10px;
 padding: 5px;
 border-radius: 3px;
}
label {
 display: inline-block;
 margin-bottom: 5px;
 font-weight: bold;
}
select{
 width: 100%;
 display: inline-block;
 margin-bottom: 10px;
 padding: 5px;
 border-radius: 3px;
}

.about{
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    text-align: center;
}
.about h1{
    text-align: center;
    color: darkorange;
}

.about h3{
        color: #2EC1AC;
}
.about p{
     color: black;
}
button a{
    text-decoration: none;
    padding: 10px;
}

button {
    display: flex;
    padding: 0px;
}
